html, body {
  margin: 0;
  padding: 0;
  background: Chartreuse;
}
canvas {
  display: block;
  position: absolute;
  margin: 150px;
  margin-top: 20px;
  border: dotted;
  border-color: darkRed;
  border-width: 20px;
  border-style: dotted;
}
h1 {
  font: Lucida Handwriting;
  margin-left: 300px;
  margin-top: 50px;
  color: darkRed;
}

div {
margin: 50px;
style: "right";
}
